
.null{
    display: none;
}

.error {
    padding: .25rem;
    margin: .25rem;
    color: red;
    background: rgb(200, 224, 249);
    border-style: solid;
    border-radius: 5px;
  }

.notification {
    padding: .25rem;
    margin: .25rem;
    color: green;
    background: rgb(200, 224, 249);
    border-style: solid;
    border-radius: 5px;
  }
  